name: Lint, Test and Compile

on:
  pull_request:
    paths:
      - ".github/workflows/build.yml"
      - "src/**"
      - "Cargo.*"
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  # Quick Lint and Format Checks
  lint:
    runs-on: ubuntu-latest
    name: Lint and Format Check

    steps:
      - uses: actions/checkout@v6

      - name: Install Build Dependencies
        run: sudo apt update && sudo apt install -y --no-install-recommends libdbus-1-dev pkg-config

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: clippy, rustfmt

      - uses: Swatinem/rust-cache@v2

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Run Clippy
        run: cargo clippy --all-targets -- -D warnings

  # Cross-Compilation and Test
  cross_build:
    runs-on: ubuntu-latest
    name: Build and Test ${{ matrix.target }}

    # Only start cross-build if lint/fmt passed
    needs: [lint]

    strategy:
      fail-fast: false
      matrix:
        target:
          - aarch64-unknown-linux-gnu
          - armv7-unknown-linux-gnueabihf

    steps:
      - uses: actions/checkout@v6

      - name: Install Build Dependencies
        run: sudo apt update && sudo apt install -y --no-install-recommends libdbus-1-dev pkg-config

      - name: Install stable toolchain and components
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: stable
          override: true

      - name: Install Cargo Tools (cross, cargo-deb)
        run: cargo install cross cargo-deb

      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target }}

      - name: Build ${{ matrix.target }}
        run: cross build --release --verbose --target ${{ matrix.target }}

      - name: Test ${{ matrix.target }}
        run: cross test --release --verbose --target ${{ matrix.target }}
